



div.caja1{
    
    border: 3px solid rgb(66, 66, 66);
    background-color: coral;
   
    height: 75px;
    

}
div.caja2{
    
    background-color: rgb(183, 0, 255);
    width: 25%;
    float: right;

}
div.caja3{
    background-color: rgb(0, 183, 255);
    width: 50%;
    float: right;

}
div.caja4{
    background-color:rgb(255, 251, 0) ;
    width: 25%;
    float: left;
}
div.caja5{
    
    height: 50px;
    clear: both;
   
   border: 3px solid rgb(66, 66, 66);
}
div.caja6{
    
    float: left;
    background-color: rgb(183, 0, 255);
    width: 24.7%;
    height: 50px;
    border-right: 3px solid rgb(66, 66, 66);
}
div.caja7{
    
    float: left;
    width: 24.7%;
    background-color: rgb(251, 255, 0);
    height: 50px;
    border-left: 3px solid rgb(66, 66, 66);
}
div.caja8{
    
    background-color: rgb(0, 217, 255);
    height: 50px;
    width: 50.15%;
    float:left;
    
}

/* Ahora agrupamos las caracteisticas de las clases iguales*/
.caja1,.caja2,.caja3,.caja4,.caja5,.caja6,.caja7,.caja8{
    text-align: center;
    height: 400px;
}
